<%#= @item.inspect %>


<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div class="row">
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class="large-12 columns">
    <%= f.label :category_id %>
    <%= f.hidden_field :category_id %>
    <%= @item.category.name%>
    </div>
  </div>

  <div class="field row">
    <div class="large-12 columns">
    <%= f.label :description %>
    <%= f.hidden_field :description %>
    <%= @item.description%>
    </div>
  </div>
  
  <div class="field row">
    <div class="large-12 columns">
    <%= f.label :user_id %>
    <%= f.hidden_field :user_id %>
    <%= @item.user.name%>
  </div>
  </div>
  <div class="field row">
    <div class="large-12 columns">
    <%= f.label :observations %>
    <%= f.text_area :observations %>
    </div>
  </div>
  <div class="field row">
    <div class="large-12 columns">
    <%= f.label :status %>
     <%= f.check_box :status %>
    </div>
  </div>




  <div class="actions">
    <%= f.submit "#{controller.action_name.capitalize} item", :class => "button small"%>
  </div>

<% end %>
