
<h1>Listing <%= Item.model_name.human.pluralize%></h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <% if can? :all, @items %>
      <th>User</th>
      <% end -%>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.category.name rescue nil  %></td>
        <td><%= item.description %></td>
        <% if can? :all, @items %>
        <td><%= item.user.name rescue nil  %></td>
        <% end -%>
        <td><%= status_label(item.status) %></td>
        <td><%= link_to 'Show', item %></td>
        <% if can? :all, @items %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if can? :all, @items %>
  <%= link_to "New #{Item.model_name.human}", new_item_path , :class => "button small" %>
<% end %>

