

<br>
<br>
<br>
<br>

<p class="panel">

<strong class="hide-for-small-only">
  <strong>Description:</strong>
  <%= @item.description %>
</strong>

<strong class="hide-for-small-only">
  <strong>Category:</strong>
  <%= @item.category.name rescue nil %>
</strong>

<strong class="hide-for-small-only">
  <strong>User:</strong>
  <%= @item.user.name rescue nil %>
</strong>

<strong class="hide-for-small-only">
	<strong>status:</strong>
	<%= status_label(@item.status) %>
</strong>
<br>

<%= link_to 'Edit', edit_item_path(@item) , :class => "button small"%> |
<%= link_to 'Back', items_path , :class => "button small"%>
</p>
